# Twitter Analytics - iPhone X vs. Samsung Galaxy S9.
####

## Table of Contents

#### [Data Collection Methodology](#data_collect)

#### [Descriptive Analytics](#sect_1)


#### [Content Analytics](#sect_2)


#### [Network Analytics](#sect_3)

<br>
<br>

In [1]:
import tweepy
import csv
import time
import json
import pandas as pd
import re
import numpy as np

from collections import Counter
from operator import itemgetter
from itertools import combinations

import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

from pandas.io.json import json_normalize
import ast

# Import TextBlob for sentiment analysis
from textblob import TextBlob
from textblob import Word

from IPython.display import HTML, display, Image

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 250
pd.options.display.float_format = '{:,.4f}'.format

#### Language Codes List

In [3]:
#Language Codes Lookup List
#pip install datapackage
from datapackage import Package

#package = Package('https://datahub.io/core/language-codes/datapackage.json')
#I loaded datapackage.json locally
package = Package('data/datapackage.json')

# print list of all resources if needed:
#print(package.resource_names)

#Get language codes
res=package.get_resource('language-codes')
#res=package.get_resource('language-codes-full')
langlists=res.table.read()

# Use dict comprehension to allow lookup of language by code
lang_codes={d[0]: d[1] for d in langlists}

#Add some old non-standard codes
lang_codes.update({'und': 'Undetermined','in': 'Indonesian','iw': 'Hebrew'})

#### Now we can lookup actual language name by its code found in tweet metadata

In [4]:
# Test language code lookup
lang_codes['sv']

u'Swedish'


### Read Raw Tweets

In [5]:
import json

filename='data/IPhoneXSamsungS9.json'

with open(filename, 'r') as f:
    line = f.readline() # read only the first tweet/line
    tweet = json.loads(line) # load it as Python dictionary
    print(json.dumps(tweet, indent=4)) 
    
# the original data from Twitter looks like below.
f.close()

{
    "quote_count": 0,
    "contributors": null,
    "truncated": false,
    "text": "Todos querr\u00e1n saber el secreto detr\u00e1s de tus fotos. #GalaxyS9 https://t.co/uAHpiVRIF8",
    "is_quote_status": false,
    "in_reply_to_status_id": null,
    "reply_count": 0,
    "id": 987783049868955654,
    "favorite_count": 0,
    "entities": {
        "user_mentions": [],
        "symbols": [],
        "hashtags": [
            {
                "indices": [
                    52,
                    61
                ],
                "text": "GalaxyS9"
            }
        ],
        "urls": [],
        "media": [
            {
                "additional_media_info": {
                    "monetizable": false
                },
                "expanded_url": "https://twitter.com/samsungmobilemx/status/987783049868955654/video/1",
                "display_url": "pic.twitter.com/uAHpiVRIF8",
                "url": "https://t.co/uAHpiVRIF8",
                "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/987783027299319811/img/5p6O1pbpKjtQ80Wi.jpg",
                "id_str": "987783027299319811",
                "sizes": {
                    "small": {
                        "h": 340,
                        "resize": "fit",
                        "w": 680
                    },
                    "large": {
                        "h": 512,
                        "resize": "fit",
                        "w": 1024
                    },
                    "medium": {
                        "h": 512,
                        "resize": "fit",
                        "w": 1024
                    },
                    "thumb": {
                        "h": 150,
                        "resize": "crop",
                        "w": 150
                    }
                },
                "indices": [
                    62,
                    85
                ],
                "type": "photo",
                "id": 987783027299319811,
                "media_url": "http://pbs.twimg.com/amplify_video_thumb/987783027299319811/img/5p6O1pbpKjtQ80Wi.jpg"
            }
        ]
    },
    "retweeted": false,
    "coordinates": null,
    "timestamp_ms": "1524340805867",
    "source": "<a href=\"https://www.sprinklr.com\" rel=\"nofollow\">Sprinklr</a>",
    "in_reply_to_screen_name": null,
    "id_str": "987783049868955654",
    "display_text_range": [
        0,
        61
    ],
    "retweet_count": 0,
    "in_reply_to_user_id": null,
    "favorited": false,
    "user": {
        "follow_request_sent": null,
        "profile_use_background_image": false,
        "default_profile_image": false,
        "id": 130205097,
        "default_profile": false,
        "verified": true,
        "profile_image_url_https": "https://pbs.twimg.com/profile_images/873207107947945984/BExxEZXb_normal.jpg",
        "profile_sidebar_fill_color": "DEDCED",
        "profile_text_color": "1F2D6E",
        "followers_count": 375028,
        "profile_sidebar_border_color": "FFFFFF",
        "id_str": "130205097",
        "profile_background_color": "000000",
        "listed_count": 614,
        "profile_background_image_url_https": "https://pbs.twimg.com/profile_background_images/447109615126188032/fMeKrjO5.jpeg",
        "utc_offset": -18000,
        "statuses_count": 35710,
        "description": "\u00bfQuieres descubrir todas las posibilidades? Todo lo que necesitas saber de tus dispositivos Galaxy, \u00a1est\u00e1 aqu\u00ed! Horario de atenci\u00f3n de L-D de 8am a 10pm.",
        "friends_count": 2151,
        "location": "Mexico D.F.",
        "profile_link_color": "0084B4",
        "profile_image_url": "http://pbs.twimg.com/profile_images/873207107947945984/BExxEZXb_normal.jpg",
        "following": null,
        "geo_enabled": true,
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/130205097/1519582024",
        "profile_background_image_url": "http://pbs.twimg.com/profile_background_images/447109615126188032/fMeKrjO5.jpeg",
        "name": "Samsung Mobile MX",
        "lang": "es",
        "profile_background_tile": false,
        "favourites_count": 3188,
        "screen_name": "samsungmobilemx",
        "notifications": null,
        "url": "http://www.samsung.com/mx/info/privacy_local/",
        "created_at": "Tue Apr 06 16:46:53 +0000 2010",
        "contributors_enabled": false,
        "time_zone": "Mexico City",
        "protected": false,
        "translator_type": "none",
        "is_translator": false
    },
    "geo": null,
    "in_reply_to_user_id_str": null,
    "possibly_sensitive": false,
    "lang": "es",
    "created_at": "Sat Apr 21 20:00:05 +0000 2018",
    "filter_level": "low",
    "in_reply_to_status_id_str": null,
    "place": null,
    "extended_entities": {
        "media": [
            {
                "additional_media_info": {
                    "monetizable": false
                },
                "expanded_url": "https://twitter.com/samsungmobilemx/status/987783049868955654/video/1",
                "display_url": "pic.twitter.com/uAHpiVRIF8",
                "url": "https://t.co/uAHpiVRIF8",
                "media_url_https": "https://pbs.twimg.com/amplify_video_thumb/987783027299319811/img/5p6O1pbpKjtQ80Wi.jpg",
                "video_info": {
                    "aspect_ratio": [
                        2,
                        1
                    ],
                    "duration_millis": 2000,
                    "variants": [
                        {
                            "url": "https://video.twimg.com/amplify_video/987783027299319811/vid/360x180/xkbcUxSwiMKk6XP7.mp4",
                            "bitrate": 320000,
                            "content_type": "video/mp4"
                        },
                        {
                            "url": "https://video.twimg.com/amplify_video/987783027299319811/vid/720x360/yb-Mq1U5y18zV5XF.mp4",
                            "bitrate": 832000,
                            "content_type": "video/mp4"
                        },
                        {
                            "url": "https://video.twimg.com/amplify_video/987783027299319811/pl/I75za8w2L2IeTRq1.m3u8",
                            "content_type": "application/x-mpegURL"
                        }
                    ]
                },
                "id_str": "987783027299319811",
                "sizes": {
                    "small": {
                        "h": 340,
                        "resize": "fit",
                        "w": 680
                    },
                    "large": {
                        "h": 512,
                        "resize": "fit",
                        "w": 1024
                    },
                    "medium": {
                        "h": 512,
                        "resize": "fit",
                        "w": 1024
                    },
                    "thumb": {
                        "h": 150,
                        "resize": "crop",
                        "w": 150
                    }
                },
                "indices": [
                    62,
                    85
                ],
                "type": "video",
                "id": 987783027299319811,
                "media_url": "http://pbs.twimg.com/amplify_video_thumb/987783027299319811/img/5p6O1pbpKjtQ80Wi.jpg"
            }
        ]
    }
}

#### Read file and separate by iPhone X, Samsung S9, or both.

In [17]:
count_samsungs9=0
count_iphonex=0
count_both=0
tweets_both = []
tweets_samsungs9 = []
tweets_iphone = []

with open(filename, 'r') as f:
    for line in f:
        if ( ('galaxys9' in line.lower())|('samsungs9' in line.lower()) | ('galaxy s9' in line.lower())|
            ('samsung s9' in line.lower())  ) & (('iphone x' in line.lower())|('iphonex' in line.lower()) ):
            count_both = count_both+1
            try:
                # List of tweets with both iPhone X and Samsung S9
                tweets_both.append(json.loads(line))
            except:
                pass
        elif ( ('galaxys9' in line.lower())|('samsungs9' in line.lower()) | ('galaxy s9' in line.lower())|
            ('samsung s9' in line.lower())  ):
            count_samsungs9 = count_samsungs9+1
            try:
                # List of tweets with Samsung S9
                tweets_samsungs9.append(json.loads(line))
            except:
                pass
        elif (('iphone x' in line.lower())|('iphonex' in line.lower()) ) :
            count_iphonex = count_iphonex+1
            try:
                # List of tweets with iPhone X
                tweets_iphone.append(json.loads(line))
            except:
                pass
            
    f.close()
print "%s tweets loaded related to both iPhoneX and Samsung S9" %(count_both)
print "%s tweets loaded related to Samsung S9" %(count_samsungs9)
print "%s tweets loaded related to iPhoneX" %(count_iphonex)

701 tweets loaded related to both iPhoneX and Samsung S9
8168 tweets loaded related to Samsung S9
26458 tweets loaded related to iPhoneX

#### Get languages for tweets

In [7]:
lang_both=[]
lang_iphone=[]
lang_samsungs9=[]

for tweet in tweets_both:
    #print tweet['lang']
    lang_both.append(tweet['lang'])
    
for tweet in tweets_iphone:
    #print tweet['lang']
    lang_iphone.append(tweet['lang'])

for tweet in tweets_samsungs9:
#    #print tweet['lang']
    lang_samsungs9.append(tweet['lang'])

#### Language frequency counts

In [8]:

#Count frequency of languages for tweets with both iPhone X and Samsung S9
count_lang_both = Counter(lang_both)
#print count_lang_both

#Count frequency of languages for tweets with iPhone X
count_lang_iphone = Counter(lang_iphone)
#print count_lang_iphone

#Count frequency of languages for tweets with Samsung S9
count_lang_samsungs9 = Counter(lang_samsungs9)
#print count_lang_samsungs9

In [14]:
#Language counts for Tweets with both iPhone X and Samsung S9
count_lang_both.items()
df_count_lang_both = pd.DataFrame(count_lang_both.items())
df_count_lang_both.rename(columns = {0: 'Language Code',1:'Number Tweets'},inplace=True)
df_count_lang_both['Language Name']=df_count_lang_both['Language Code'].apply(lambda x: lang_codes[x] )
print "Number of languages in tweets containing both iPhone X and Samsung S9: %s" % len(df_count_lang_both)
df_count_lang_both.sort_values(by='Number Tweets', ascending=False)

Number of languages in tweets containing both iPhone X and Samsung S9: 18

   Language Code  Number Tweets       Language Name
2             en            462             English
13            in             69          Indonesian
17            es             59  Spanish; Castilian
16            ja             31            Japanese
5             de             16              German
12            th             13                Thai
3             pt             11          Portuguese
1             fr              8              French
11           und              7        Undetermined
0             ru              7             Russian
15            et              6            Estonian
10            tl              3             Tagalog
9             tr              3             Turkish
7             it              2             Italian
8             da              1              Danish
6             ko              1              Korean
14            eu              1              Basque
4             vi              1          Vietnamese

In [15]:
#Language counts for Tweets with iPhone X
count_lang_iphone.items()
df_count_lang_iphone = pd.DataFrame(count_lang_iphone.items())
df_count_lang_iphone.rename(columns = {0: 'Language Code',1:'Number Tweets'},inplace=True)
df_count_lang_iphone['Language Name']=df_count_lang_iphone['Language Code'].apply(lambda x: lang_codes[x] )
print "Number of languages in tweets containing iPhone X: %s" % len(df_count_lang_iphone)
df_count_lang_iphone.sort_values(by='Number Tweets', ascending=False)

Number of languages in tweets containing iPhone X: 49

   Language Code  Number Tweets                  Language Name
1             en          12712                        English
38            ja           5126                       Japanese
22            tl           1796                        Tagalog
17            pt           1619                     Portuguese
14            es           1290             Spanish; Castilian
11            in            772                     Indonesian
24            th            627                           Thai
27            fr            512                         French
30            de            380                         German
44           und            320                   Undetermined
40            ko            249                         Korean
15            ru            233                        Russian
5             it            178                        Italian
19            tr            136                        Turkish
2             zh            113                        Chinese
10            ar             94                         Arabic
3             vi             53                     Vietnamese
16            nl             49                 Dutch; Flemish
26            pl             42                         Polish
12            cs             20                          Czech
46            mr             19                        Marathi
13            et             12                       Estonian
25            ro             12  Romanian; Moldavian; Moldovan
31            ht             11        Haitian; Haitian Creole
41            sv             11                        Swedish
37            hu              8                      Hungarian
4             ca              7             Catalan; Valencian
34            hi              7                          Hindi
32            da              6                         Danish
18            no              5                      Norwegian
35            fi              5                        Finnish
0             el              4          Greek, Modern (1453-)
9             cy              3                          Welsh
23            lt              3                     Lithuanian
21            lv              3                        Latvian
48            or              3                          Oriya
28            bg              2                      Bulgarian
39            sr              2                        Serbian
33            fa              2                        Persian
8             eu              2                         Basque
47            my              2                        Burmese
36            hy              1                       Armenian
20            ne              1                         Nepali
42            km              1                  Central Khmer
43            si              1             Sinhala; Sinhalese
7             kn              1                        Kannada
45            uk              1                      Ukrainian
6             iw              1                         Hebrew
29            sl              1                      Slovenian

In [18]:
#Language counts for Tweets with Samsung S9
df_count_lang_samsungs9 = pd.DataFrame(count_lang_samsungs9.items())
df_count_lang_samsungs9.rename(columns = {0: 'Language Code',1:'Number Tweets'},inplace=True)
df_count_lang_samsungs9['Language Name']=df_count_lang_samsungs9['Language Code'].apply(lambda x: lang_codes[x] )
print "Number of languages in tweets containing Samsung S9: %s" % len(df_count_lang_samsungs9)
df_count_lang_samsungs9.sort_values(by='Number Tweets', ascending=False)

Number of languages in tweets containing Samsung S9: 40

   Language Code  Number Tweets                  Language Name
1             en           3663                        English
15            pt           1470                     Portuguese
25            fr            931                         French
12            es            864             Spanish; Castilian
37           und            229                   Undetermined
9             in            159                     Indonesian
27            de            138                         German
4             ca            104             Catalan; Valencian
34            ja             76                       Japanese
8             ar             74                         Arabic
13            ru             68                        Russian
5             it             66                        Italian
19            lv             59                        Latvian
17            tr             40                        Turkish
21            th             31                           Thai
3             vi             26                     Vietnamese
20            tl             23                        Tagalog
24            pl             18                         Polish
14            nl             17                 Dutch; Flemish
11            et             14                       Estonian
22            ro             12  Romanian; Moldavian; Moldovan
38            uk             11                      Ukrainian
10            cs              8                          Czech
32            fi              6                        Finnish
29            hu              6                      Hungarian
0             el              6          Greek, Modern (1453-)
16            no              6                      Norwegian
2             zh              6                        Chinese
31            hi              5                          Hindi
36            sv              5                        Swedish
23            is              4                      Icelandic
30            fa              4                        Persian
26            bg              3                      Bulgarian
18            lt              3                     Lithuanian
35            ko              3                         Korean
6             iw              3                         Hebrew
33            da              2                         Danish
39            sl              2                      Slovenian
28            ht              1        Haitian; Haitian Creole
7             cy              1                          Welsh